.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #8a2b06;
  color: white;

  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 0 3rem;   
  box-sizing: border-box; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 100;
}

.header h1 {
  margin: 0;
  font-size: 2rem;
}


.header-button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #4d1601;
  color: white;

  display: flex;
  align-items: center;
  gap: 0.75rem;

  padding: 0.75rem 2rem;
  border-radius: 30px;
  font-weight: bold;
  height: 2.8rem;

  transition: all 0.3s ease;
}

.header-button:hover {
  background-color: #2c0d00;
}

.header-button {
  background-color: #4d1601;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
}

.badge {
  background-color: #b94517;
  padding: 0.25rem 0.9rem;
  border-radius: 25px;
  font-size: 0.9rem;
  font-weight: bold;
}

.header-button:hover .badge {
  background-color: #92320c;
}

.main-image {
  width: 100%;
  height: 25rem;
  overflow: hidden;
  margin-top: 5rem;
}

.main-image img {
  width: 120%;
  height: 100%;
  object-fit: cover;
  transform: rotate(-5deg) translateY(-4rem) translateX(-1rem);
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}